.postsContainer{
    width: 70%;
    text-align: center;
    /* margin-top: 10px; */
    font-size: 50px;
    text-decoration: underline;
    border-right: 2px solid blueviolet;
    background: cadetblue;
}