body{
  background: white;
  font-family: 'Playfair Display SC', serif;
}
.bodyContainer{
  display: 100%;
  display: flex;
  /* justify-content: space-between; */
  /* border-top: 10px solid white;    */
}

.blogPostContainer{
  width: 70%;
  margin: auto;

}
@media(max-width:500px){
  .sidebarContainer{
      display: none;
  }
  .blogPostContainer{
      width: 95%;
      margin-left: 2.5%;
      margin-right: 2.5%;
  }
}

